@{
    ViewData["Title"] = "Exclusao sucesso";
}

<div class="card text-white text-center bg-primary">
  <div class="card-body">
    <h4 class="card-title">Usuario excluido com sucesso</h4>
  </div>
</div>